<style>
        /* -- HEADER BELOW -- */

        h1 {
            font-family: "Dancing Script";
            font-size: 60px;
            margin: 0;
        }

        header {
            padding-left: 10px;
            padding-right: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.8);
            color: rgb(0, 0, 0);
        }

        header > div {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        nav ul {
            font-size: 20px;
            list-style: none;
            display: flex;  
            gap: 20px;
            margin: 0;
            padding: 0;
        }

        nav ul li a {
            color: #000000;
            text-decoration: none;
            font-weight: bold;
        }

        nav ul li a:hover {
            text-decoration: underline;
        }

        /* -- HEADER ABOVE -- */

        hr {
            border: none;
            height: 3px;
            background-color: rgb(240, 186, 251);
            margin: -1px;
        }

        /* -- SUBTITLE BELOW -- */

        #welcome {
            margin-top: 40px;
            margin-bottom: 0px;
            padding: 0px;
            text-align: center;
            font-family: "Sekuya";
            font-size: 20px;
            background: linear-gradient(45deg, #ffffff, #ffffff); 
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent; 
        }

        #subtitle {
            margin: 0px;
            margin-top: 0px;
            margin-bottom: 30px;
            padding: 0px;
            text-align: center;
            font-family: "Parisienne";
            font-size: 60px;
            background: linear-gradient(45deg, #e9d7f1, #d873f7); 
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent; 
            line-height: 1.5;
        }

        /* -- SUBTITLE ABOVE -- */

        /* -- MAIN BELOW -- */

         main {
            display: flex;
            gap: 20px;
            margin: 15px;
            padding: 25px;
            background-color: rgba(255, 255, 255, 0.5);
            flex-wrap: wrap;
            border-radius: 8px;
        }
        
        .paragraph-box {
            flex: 2;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        
        .aside-column {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        #aside-box {
            background-color: white;
            padding: 50px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        aside figure, aside figcaption {
            margin: 0;
        }

        /* -- MAIN ABOVE -- */

        /* -- FOOTER BELOW -- */

        footer {
            display: flex;
            margin-top: 0px;
            height: 75px;
            background-color: rgba(255, 255, 255, 0.5);
            justify-content: center;
            align-items: center;
        }   

        #footer-line {
            border: none;
            height: 3px;
            width: 100%;
            background-color: rgb(240, 186, 251);
            margin-top: 60px;
        }

        /* -- FOOTER ABOVE -- */
    </style>