    header {
        padding-left: 10px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        color: rgb(0, 0, 0);
    }

    header > div {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    nav ul {
        font-size: 20px;
        list-style: none;
        display: flex;  
        gap: 20px;
        margin: 0;
        padding: 0;
    }

    nav ul li a {
        color: #000000;
        text-decoration: none;
        font-weight: bold;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }

/* -- HEADER ABOVE -- */

    hr {
        border: none;
        height: 3px;
        background-color: rgb(240, 186, 251);
        margin: -1px;
    }

/* SUBTITLE */
.subtitle {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 0px;
    text-align: center;
    font-family: "Parisienne";
    font-size: 60px;
    background: linear-gradient(45deg, #e9d7f1, #d873f7); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    line-height: 1.5;
}

#welcome {
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    font-family: "Sekuya";
    font-size: 20px;
    background: linear-gradient(45deg, #ffffff, #ffffff); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

/* MAIN GRID */
main {
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    gap: 25px;
    padding: 25px;
}

/* BOXES */
.box {
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* QUIZ */
#choices button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    background: #e6d6ff;
    cursor: pointer;
    font-size: 16px;
}

#choices button:hover {
    background: #d1b8ff;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(255,255,255,0.7);
    margin-top: 30px;
}